.topbar {
  padding: 0;

  .topbar-items {
    list-style: none;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;

    li:nth-last-child(1) {
      margin-left: auto;
      width: auto;
      display: flex;
    }

    li {
      display: inline-block;
      padding: 0.5rem 1rem;
      white-space: nowrap;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    .topbar-item {
      cursor: pointer;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0);
    }

    .topbar-item:hover {
      color: blue;
      border-bottom: 0.1rem solid blue;
    }

    .topbar-item-link {
      display: flex;
      white-space: nowrap;

      & > div {
        margin-right: 0.5rem;
      }

      &:hover {
        text-decoration: underline;
        color: blue;
      }
    }
  }
  .mega-menu {
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 2rem 1rem;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: 200ms ease-out;
    box-shadow: 0 5px 5px black;

    &.show {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }

    a {
      text-decoration: none;
      width: auto;
      width: fit-content;
    }

    .col-4 {
      li {
        width: 50%;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;

      &.one-col {
        display: flex;
        flex-direction: column;
      }

      &.one-row {
        display: flex;
        white-space: nowrap;
      }
    }

    li {
      display: inline-block;
    }

    .row {
      flex: 1 100%;
    }

    .col {
      padding: 0;
    }

    .mega-menu-title {
      color: #333;
      font-weight: 600;
      font-size: 1.25rem;
    }

    .mega-menu-item {
      color: #666;
      font-weight: 400;
      font-size: 0.85rem;
    }

    .mega-menu-item:hover,
    .mega-menu-title:hover {
      color: rgb(61, 61, 255);
      text-decoration: underline;
    }
  }
}
