.person-wrapper {
  border: solid;
  color: #232323;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.person-image {
}

.person-name {
  padding: 0;
  margin: 0.5rem 0;
}

.person-gender {
  padding: 0;
  margin: .5rem 0;
}

.person-action {
  width: 100px;
  padding: .5rem;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(243, 243, 243);
}

.person-action:hover {
  background-color: #bdbdbd;
}

.person-delete-dialog {
  position: absolute;
  z-index: 2;
  background-color: red;
  color: #FFF;
  border-radius: 15px;
  padding: .5rem;
}